net +3.3v	loc=p3,37,26,55;
net clka	loc=p60;
net clkb	loc=p61;
net cpld_tdo	loc=p53;
net flash_a<0>	loc=p62;
net flash_a<1>	loc=p51;
net flash_a<2>	loc=p50;
net flash_a<3>	loc=p49;
net flash_a<4>	loc=p48;
net flash_a<5>	loc=p47;
net flash_a<6>	loc=p46;
net flash_a<7>	loc=p45;
net flash_a<8>	loc=p40;
net flash_a<9>	loc=p39;
net flash_a<10>	loc=p38;
net flash_a<11>	loc=p36;
net flash_a<12>	loc=p35;
net flash_a<13>	loc=p34;
net flash_a<14>	loc=p33;
net flash_a<15>	loc=p32;
net flash_a<16>	loc=p13;
net flash_a<17>	loc=p44;
net flash_ce_n	loc=p63;
net flash_d<15>	loc=p12;
net flash_oe_n	loc=p64;
net flash_we_n	loc=p42;
net fpga_cclk	loc=p52;
net fpga_d<1>	loc=p2;
net fpga_d<2>	loc=p4;
net fpga_d<3>	loc=p5;
net fpga_d<4>	loc=p7;
net fpga_d<5>	loc=p9;
net fpga_d<6>	loc=p10;
net fpga_d<7>	loc=p11;
net fpga_din_d<0>	loc=p1;
net fpga_done	loc=p6;
net fpga_init_n	loc=p8;
net fpga_prog_n	loc=p57;
net fpga_tck	loc=p43;
net fpga_tdi_cs_n	loc=p58;
net fpga_tdo_wr_n	loc=p56;
net fpga_tms_bsy	loc=p59;
net gnd	loc=p41,14,21,54;
net master_clk	loc=p17;
net pp_c<1>	loc=p30;
net pp_c<2>	loc=p29;
net pp_c<3>	loc=p28;
net pp_d<0>	loc=p27;
net pp_d<1>	loc=p20;
net pp_d<2>	loc=p31;
net pp_d<3>	loc=p23;
net pp_d<4>	loc=p22;
net pp_d<5>	loc=p19;
net pp_d<6>	loc=p18;
net pp_d<7>	loc=p16;
net pp_s<3>	loc=p24;
net pp_s<4>	loc=p25;
net pp_s<5>	loc=p15;
