# xsb-300e SDRAM memory tester pin assignments
net      fpga_init_n loc = p107;
net      clk       loc=p80;
net      cke       loc=p99  | FAST | DRIVE=24;
net      cs_n      loc=p98  | FAST | DRIVE=24;
net      ras_n     loc=p97  | FAST | DRIVE=24;  
net      cas_n     loc=p96  | FAST | DRIVE=24; 
net      we_n      loc=p95  | FAST | DRIVE=24; 
net      ba<0>     loc=p111 | FAST | DRIVE=24;  
net      ba<1>     loc=p112 | FAST | DRIVE=24;  
net      sAddr<0>  loc=p83  | FAST | DRIVE=24;  
net      sAddr<1>  loc=p84  | FAST | DRIVE=24;  
net      sAddr<2>  loc=p86  | FAST | DRIVE=24;  
net      sAddr<3>  loc=p87  | FAST | DRIVE=24;  
net      sAddr<4>  loc=p88  | FAST | DRIVE=24;  
net      sAddr<5>  loc=p89  | FAST | DRIVE=24;  
net      sAddr<6>  loc=p93  | FAST | DRIVE=24;  
net      sAddr<7>  loc=p94  | FAST | DRIVE=24;  
net      sAddr<8>  loc=p100 | FAST | DRIVE=24;  
net      sAddr<9>  loc=p101 | FAST | DRIVE=24;  
net      sAddr<10> loc=p102 | FAST | DRIVE=24;  
net      sAddr<11> loc=p109 | FAST | DRIVE=24;  
net      sAddr<12> loc=p110 | FAST | DRIVE=24;  
net      sData<0>  loc=p153 | FAST | DRIVE=24; 
net      sData<1>  loc=p145 | FAST | DRIVE=24; 
net      sData<2>  loc=p141 | FAST | DRIVE=24; 
net      sData<3>  loc=p135 | FAST | DRIVE=24; 
net      sData<4>  loc=p126 | FAST | DRIVE=24; 
net      sData<5>  loc=p120 | FAST | DRIVE=24; 
net      sData<6>  loc=p116 | FAST | DRIVE=24; 
net      sData<7>  loc=p108 | FAST | DRIVE=24; 
net      sData<8>  loc=p127 | FAST | DRIVE=24; 
net      sData<9>  loc=p129 | FAST | DRIVE=24; 
net      sData<10> loc=p132 | FAST | DRIVE=24; 
net      sData<11> loc=p133 | FAST | DRIVE=24; 
net      sData<12> loc=p134 | FAST | DRIVE=24; 
net      sData<13> loc=p136 | FAST | DRIVE=24; 
net      sData<14> loc=p138 | FAST | DRIVE=24; 
net      sData<15> loc=p139 | FAST | DRIVE=24; 
net      dqmh      loc=p146 | FAST | DRIVE=24;  
net      dqml      loc=p140 | FAST | DRIVE=24; 

NET clk TNM_NET = clk;
TIMESPEC TS_clk = PERIOD clk 10 ns HIGH 50 %;
