net pp_d<0>     loc=N14; 
net pp_d<1>     loc=P15; 
net pp_d<2>     loc=R16; 
net pp_d<3>     loc=P14; 
net pp_d<4>     loc=P13; 
net pp_d<5>     loc=N12;
net pp_d<6>     loc=T14; 
net pp_s<3>     loc=N5;  
net pp_s<4>     loc=K14; 
net pp_s<5>     loc=K13; 
net pp_s<6>     loc=T10; 
net pb_d<0>     loc=P12; 
net pb_d<1>     loc=J1;  
net pb_d<2>     loc=H1;  
net pb_d<3>     loc=H3;  
net pb_d<4>     loc=G2;  
net pb_d<5>     loc=K15; 
net pb_d<6>     loc=K16; 
net pb_d<7>     loc=F15; 
net pb_d<8>     loc=E2;  
net pb_d<9>     loc=E1;  
net pb_d<10>    loc=F3;  
net pb_d<11>    loc=F2;  
net pb_d<12>    loc=G4;  
net pb_d<13>    loc=G3;  
net pb_d<14>    loc=G1;  
net pb_d<15>    loc=H4;  
net pb_a<0>     loc=L5;  
net pb_a<1>     loc=N2;  
net pb_a<2>     loc=M3;  
net pb_a<3>     loc=N1;  
net pb_a<4>     loc=T13; 
net pb_wr_n     loc=R1;  
net pb_rd_n     loc=P2;  
net ether_cs_n  loc=G13; 
net ether_bhe_n loc=J3;  
net ether_aen   loc=E14; 
net s<0>        loc=R10; 
net s<1>        loc=P10; 
net s<2>        loc=M11; 
net s<3>        loc=M6;  
net s<4>        loc=N6;  
net s<5>        loc=T7;  
net s<6>        loc=R7;  
