SCHEMATIC START ;
// created by map version G.38 on Mon Feb 13 15:51:29 2006 
COMP "sData<10>" LOCATE =  SITE "E2" LEVEL 1; 
COMP "sData<11>" LOCATE =  SITE "E4" LEVEL 1; 
COMP "sData<12>" LOCATE =  SITE "B1" LEVEL 1; 
COMP "sData<13>" LOCATE =  SITE "A2" LEVEL 1; 
COMP "sData<14>" LOCATE =  SITE "D5" LEVEL 1; 
COMP "sData<15>" LOCATE =  SITE "C5" LEVEL 1; 
COMP "cas_n" LOCATE =  SITE "H3" LEVEL 1; 
COMP "s<0>" LOCATE =  SITE "N14" LEVEL 1; 
COMP "s<1>" LOCATE =  SITE "D14" LEVEL 1; 
COMP "s<2>" LOCATE =  SITE "N16" LEVEL 1; 
COMP "s<3>" LOCATE =  SITE "M16" LEVEL 1; 
COMP "s<4>" LOCATE =  SITE "F15" LEVEL 1; 
COMP "s<5>" LOCATE =  SITE "J16" LEVEL 1; 
COMP "s<6>" LOCATE =  SITE "G16" LEVEL 1; 
COMP "ras_n" LOCATE =  SITE "J2" LEVEL 1; 
COMP "ce_n" LOCATE =  SITE "M15" LEVEL 1; 
COMP "cs_n" LOCATE =  SITE "J3" LEVEL 1; 
COMP "dqmh" LOCATE =  SITE "H1" LEVEL 1; 
COMP "dqml" LOCATE =  SITE "G2" LEVEL 1; 
COMP "sAddr<10>" LOCATE =  SITE "L3" LEVEL 1; 
COMP "sAddr<11>" LOCATE =  SITE "M3" LEVEL 1; 
COMP "sAddr<12>" LOCATE =  SITE "M2" LEVEL 1; 
COMP "sclk" LOCATE =  SITE "J4" LEVEL 1; 
COMP "we_n" LOCATE =  SITE "G1" LEVEL 1; 
COMP "pps<6>" LOCATE =  SITE "J13" LEVEL 1; 
COMP "cke" LOCATE =  SITE "L1" LEVEL 1; 
COMP "clk" LOCATE =  SITE "B8" LEVEL 1; 
COMP "ba<0>" LOCATE =  SITE "K2" LEVEL 1; 
COMP "ba<1>" LOCATE =  SITE "L2" LEVEL 1; 
COMP "sw2" LOCATE =  SITE "E3" LEVEL 1; 
COMP "sAddr<0>" LOCATE =  SITE "L4" LEVEL 1; 
COMP "sAddr<1>" LOCATE =  SITE "N1" LEVEL 1; 
COMP "sAddr<2>" LOCATE =  SITE "N2" LEVEL 1; 
COMP "sAddr<3>" LOCATE =  SITE "M4" LEVEL 1; 
COMP "sAddr<4>" LOCATE =  SITE "T5" LEVEL 1; 
COMP "sAddr<5>" LOCATE =  SITE "N6" LEVEL 1; 
COMP "sAddr<6>" LOCATE =  SITE "M6" LEVEL 1; 
COMP "sAddr<7>" LOCATE =  SITE "T3" LEVEL 1; 
COMP "sAddr<8>" LOCATE =  SITE "N5" LEVEL 1; 
COMP "sAddr<9>" LOCATE =  SITE "P1" LEVEL 1; 
COMP "sData<0>" LOCATE =  SITE "C2" LEVEL 1; 
COMP "sData<1>" LOCATE =  SITE "C1" LEVEL 1; 
COMP "sData<2>" LOCATE =  SITE "F5" LEVEL 1; 
COMP "sData<3>" LOCATE =  SITE "D1" LEVEL 1; 
COMP "sData<4>" LOCATE =  SITE "F3" LEVEL 1; 
COMP "sData<5>" LOCATE =  SITE "F2" LEVEL 1; 
COMP "sData<6>" LOCATE =  SITE "F1" LEVEL 1; 
COMP "sData<7>" LOCATE =  SITE "G3" LEVEL 1; 
COMP "sData<8>" LOCATE =  SITE "G4" LEVEL 1; 
COMP "sData<9>" LOCATE =  SITE "G5" LEVEL 1; 
TIMEGRP "clk" = BEL "u0_fast_memtest_state_r_FFd3" BEL 
"u0_fast_memtest_u0_r_r_10" BEL "u0_syncButton_1" BEL "u0_rst_i" BEL 
"u0_syncButton_0" BEL "u0_divCnt_0" BEL "u0_divCnt_1" BEL "u0_divCnt_2" BEL 
"u0_divCnt_3" BEL "u0_divCnt_4" BEL "u0_divCnt_5" BEL "u0_divCnt_6" BEL 
"u0_divCnt_7" BEL "u0_divCnt_8" BEL "u0_divCnt_9" BEL "u0_divCnt_10" BEL 
"u0_divCnt_11" BEL "u0_divCnt_12" BEL "u0_divCnt_13" BEL "u0_divCnt_14" BEL 
"u0_divCnt_15" BEL "u0_divCnt_16" BEL "u0_fast_memtest_u0_r_r_12" BEL 
"u0_fast_memtest_addr_r_23" BEL "u0_fast_memtest_err_r" BEL 
"u0_fast_memtest_u0_r_r_13" BEL "u0_fast_memtest_addr_r_22" BEL 
"u0_fast_memtest_addr_r_0" BEL "u0_fast_memtest_addr_r_1" BEL 
"u0_fast_memtest_addr_r_2" BEL "u0_fast_memtest_addr_r_3" BEL 
"u0_fast_memtest_addr_r_4" BEL "u0_fast_memtest_addr_r_5" BEL 
"u0_fast_memtest_addr_r_6" BEL "u0_fast_memtest_addr_r_7" BEL 
"u0_fast_memtest_addr_r_8" BEL "u0_fast_memtest_addr_r_9" BEL 
"u0_fast_memtest_addr_r_10" BEL "u0_fast_memtest_addr_r_11" BEL 
"u0_fast_memtest_addr_r_12" BEL "u0_fast_memtest_addr_r_13" BEL 
"u0_fast_memtest_addr_r_14" BEL "u0_fast_memtest_addr_r_15" BEL 
"u0_fast_memtest_addr_r_16" BEL "u0_fast_memtest_addr_r_17" BEL 
"u0_fast_memtest_addr_r_18" BEL "u0_fast_memtest_addr_r_19" BEL 
"u0_fast_memtest_addr_r_20" BEL "u0_fast_memtest_addr_r_21" BEL 
"u0_fast_memtest_u0_r_r_11" BEL "u0_fast_memtest_state_r_FFd5" BEL 
"u0_fast_memtest_state_r_FFd4" BEL "u0_fast_memtest_state_r_FFd1" BEL 
"u0_fast_memtest_state_r_FFd2" BEL "u0_fast_memtest_u0_r_r_14" BEL 
"u0_fast_memtest_u0_r_r_15" BEL "u0_fast_memtest_u0_r_r_0" BEL 
"u0_fast_memtest_u0_r_r_1" BEL "u0_fast_memtest_u0_r_r_2" BEL 
"u0_fast_memtest_u0_r_r_3" BEL "u0_fast_memtest_u0_r_r_4" BEL 
"u0_fast_memtest_u0_r_r_5" BEL "u0_fast_memtest_u0_r_r_6" BEL 
"u0_fast_memtest_u0_r_r_7" BEL "u0_fast_memtest_u0_r_r_8" BEL 
"u0_fast_memtest_u0_r_r_9" BEL "u0_u1_u1_activeFlag_r_2" BEL "u0_u1_u1_cke_r" 
BEL "u0_u1_u1_rdPipeline_r_4" BEL "u0_u1_u1_nopCntr_r_13" BEL 
"u0_u1_u1_rfshCntr_r_5" BEL "u0_u1_u1_rfshCntr_r_4" BEL "u0_u1_u1_wrTimer_r_0" 
BEL "u0_u1_u1_rfshCntr_r_0" BEL "u0_u1_u1_rfshCntr_r_1" BEL 
"u0_u1_u1_rfshCntr_r_2" BEL "u0_u1_u1_rfshCntr_r_3" BEL "u0_u1_u1_rasTimer_r_1" 
BEL "u0_u1_u1_rfshCntr_r_12" BEL "u0_u1_u1_hDOutOppPhase_r_15" BEL 
"u0_u1_u1_activeRow_r_3_12" BEL "u0_u1_u1_activeRow_r_2_12" BEL 
"u0_u1_u1_activeRow_r_1_12" BEL "u0_u1_u1_activeRow_r_0_12" BEL 
"u0_u1_u1_activeBank_r" BEL "u0_u1_u1_activeFlag_r_1" BEL "u0_u1_u1_hDOut_r_15" 
BEL "u0_u1_u1_rfshCntr_r_8" BEL "u0_u1_u1_rfshCntr_r_9" BEL 
"u0_u1_u1_rfshCntr_r_10" BEL "u0_u1_u1_rfshCntr_r_11" BEL "u0_u1_u1_sData_r_15" 
BEL "u0_u1_u1_refTimer_r_6" BEL "u0_u1_u1_sAddr_r_12" BEL "u0_u1_u1_timer_r_13" 
BEL "u0_u1_u1_ba_r_1" BEL "u0_u1_u1_rfshCntr_r_13" BEL "u0_u1_u1_cmd_r_3" BEL 
"u0_u1_u1_activeFlag_r_0" BEL "u0_u1_u1_rfshCntr_r_7" BEL 
"u0_u1_u1_rfshCntr_r_6" BEL "u0_u1_u1_state_r_FFd7" BEL 
"u0_u1_u1_activeFlag_r_3" BEL "u0_u1_u1_rdPipeline_r_0" BEL 
"u0_u1_u1_rdPipeline_r_1" BEL "u0_u1_u1_rdPipeline_r_2" BEL 
"u0_u1_u1_rdPipeline_r_3" BEL "u0_u1_u1_nopCntr_r_0" BEL "u0_u1_u1_nopCntr_r_1" 
BEL "u0_u1_u1_nopCntr_r_2" BEL "u0_u1_u1_nopCntr_r_3" BEL "u0_u1_u1_nopCntr_r_4"
 BEL "u0_u1_u1_nopCntr_r_5" BEL "u0_u1_u1_nopCntr_r_6" BEL 
"u0_u1_u1_nopCntr_r_7" BEL "u0_u1_u1_nopCntr_r_8" BEL "u0_u1_u1_nopCntr_r_9" 
BEL "u0_u1_u1_nopCntr_r_10" BEL "u0_u1_u1_nopCntr_r_11" BEL 
"u0_u1_u1_nopCntr_r_12" BEL "u0_u1_u1_rasTimer_r_0" BEL 
"u0_u1_u1_hDOutOppPhase_r_0" BEL "u0_u1_u1_hDOutOppPhase_r_1" BEL 
"u0_u1_u1_hDOutOppPhase_r_2" BEL "u0_u1_u1_hDOutOppPhase_r_3" BEL 
"u0_u1_u1_hDOutOppPhase_r_4" BEL "u0_u1_u1_hDOutOppPhase_r_5" BEL 
"u0_u1_u1_hDOutOppPhase_r_6" BEL "u0_u1_u1_hDOutOppPhase_r_7" BEL 
"u0_u1_u1_hDOutOppPhase_r_8" BEL "u0_u1_u1_hDOutOppPhase_r_9" BEL 
"u0_u1_u1_hDOutOppPhase_r_10" BEL "u0_u1_u1_hDOutOppPhase_r_11" BEL 
"u0_u1_u1_hDOutOppPhase_r_12" BEL "u0_u1_u1_hDOutOppPhase_r_13" BEL 
"u0_u1_u1_hDOutOppPhase_r_14" BEL "u0_u1_u1_activeRow_r_3_0" BEL 
"u0_u1_u1_activeRow_r_3_1" BEL "u0_u1_u1_activeRow_r_3_2" BEL 
"u0_u1_u1_activeRow_r_3_3" BEL "u0_u1_u1_activeRow_r_3_4" BEL 
"u0_u1_u1_activeRow_r_3_5" BEL "u0_u1_u1_activeRow_r_3_6" BEL 
"u0_u1_u1_activeRow_r_3_7" BEL "u0_u1_u1_activeRow_r_3_8" BEL 
"u0_u1_u1_activeRow_r_3_9" BEL "u0_u1_u1_activeRow_r_3_10" BEL 
"u0_u1_u1_activeRow_r_3_11" BEL "u0_u1_u1_activeRow_r_2_0" BEL 
"u0_u1_u1_activeRow_r_2_1" BEL "u0_u1_u1_activeRow_r_2_2" BEL 
"u0_u1_u1_activeRow_r_2_3" BEL "u0_u1_u1_activeRow_r_2_4" BEL 
"u0_u1_u1_activeRow_r_2_5" BEL "u0_u1_u1_activeRow_r_2_6" BEL 
"u0_u1_u1_activeRow_r_2_7" BEL "u0_u1_u1_activeRow_r_2_8" BEL 
"u0_u1_u1_activeRow_r_2_9" BEL "u0_u1_u1_activeRow_r_2_10" BEL 
"u0_u1_u1_activeRow_r_2_11" BEL "u0_u1_u1_activeRow_r_1_0" BEL 
"u0_u1_u1_activeRow_r_1_1" BEL "u0_u1_u1_activeRow_r_1_2" BEL 
"u0_u1_u1_activeRow_r_1_3" BEL "u0_u1_u1_activeRow_r_1_4" BEL 
"u0_u1_u1_activeRow_r_1_5" BEL "u0_u1_u1_activeRow_r_1_6" BEL 
"u0_u1_u1_activeRow_r_1_7" BEL "u0_u1_u1_activeRow_r_1_8" BEL 
"u0_u1_u1_activeRow_r_1_9" BEL "u0_u1_u1_activeRow_r_1_10" BEL 
"u0_u1_u1_activeRow_r_1_11" BEL "u0_u1_u1_activeRow_r_0_0" BEL 
"u0_u1_u1_activeRow_r_0_1" BEL "u0_u1_u1_activeRow_r_0_2" BEL 
"u0_u1_u1_activeRow_r_0_3" BEL "u0_u1_u1_activeRow_r_0_4" BEL 
"u0_u1_u1_activeRow_r_0_5" BEL "u0_u1_u1_activeRow_r_0_6" BEL 
"u0_u1_u1_activeRow_r_0_7" BEL "u0_u1_u1_activeRow_r_0_8" BEL 
"u0_u1_u1_activeRow_r_0_9" BEL "u0_u1_u1_activeRow_r_0_10" BEL 
"u0_u1_u1_activeRow_r_0_11" BEL "u0_u1_u1_hDOut_r_0" BEL "u0_u1_u1_hDOut_r_1" 
BEL "u0_u1_u1_hDOut_r_2" BEL "u0_u1_u1_hDOut_r_3" BEL "u0_u1_u1_hDOut_r_4" BEL 
"u0_u1_u1_hDOut_r_5" BEL "u0_u1_u1_hDOut_r_6" BEL "u0_u1_u1_hDOut_r_7" BEL 
"u0_u1_u1_hDOut_r_8" BEL "u0_u1_u1_hDOut_r_9" BEL "u0_u1_u1_hDOut_r_10" BEL 
"u0_u1_u1_hDOut_r_11" BEL "u0_u1_u1_hDOut_r_12" BEL "u0_u1_u1_hDOut_r_13" BEL 
"u0_u1_u1_hDOut_r_14" BEL "u0_u1_u1_sData_r_0" BEL "u0_u1_u1_sData_r_1" BEL 
"u0_u1_u1_sData_r_2" BEL "u0_u1_u1_sData_r_3" BEL "u0_u1_u1_sData_r_4" BEL 
"u0_u1_u1_sData_r_5" BEL "u0_u1_u1_sData_r_6" BEL "u0_u1_u1_sData_r_7" BEL 
"u0_u1_u1_sData_r_8" BEL "u0_u1_u1_sData_r_9" BEL "u0_u1_u1_sData_r_10" BEL 
"u0_u1_u1_sData_r_11" BEL "u0_u1_u1_sData_r_12" BEL "u0_u1_u1_sData_r_13" BEL 
"u0_u1_u1_sData_r_14" BEL "u0_u1_u1_sAddr_r_0" BEL "u0_u1_u1_sAddr_r_1" BEL 
"u0_u1_u1_sAddr_r_2" BEL "u0_u1_u1_sAddr_r_3" BEL "u0_u1_u1_sAddr_r_4" BEL 
"u0_u1_u1_sAddr_r_5" BEL "u0_u1_u1_sAddr_r_6" BEL "u0_u1_u1_sAddr_r_7" BEL 
"u0_u1_u1_sAddr_r_8" BEL "u0_u1_u1_sAddr_r_9" BEL "u0_u1_u1_sAddr_r_10" BEL 
"u0_u1_u1_sAddr_r_11" BEL "u0_u1_u1_timer_r_0" BEL "u0_u1_u1_timer_r_1" BEL 
"u0_u1_u1_timer_r_2" BEL "u0_u1_u1_timer_r_3" BEL "u0_u1_u1_timer_r_4" BEL 
"u0_u1_u1_timer_r_5" BEL "u0_u1_u1_timer_r_6" BEL "u0_u1_u1_timer_r_7" BEL 
"u0_u1_u1_timer_r_8" BEL "u0_u1_u1_timer_r_9" BEL "u0_u1_u1_timer_r_10" BEL 
"u0_u1_u1_timer_r_11" BEL "u0_u1_u1_timer_r_12" BEL "u0_u1_u1_ba_r_0" BEL 
"u0_u1_u1_cmd_r_4" BEL "u0_u1_u1_cmd_r_0" BEL "u0_u1_u1_cmd_r_2" BEL 
"u0_u1_u1_refTimer_r_8" BEL "u0_u1_u1_refTimer_r_7" BEL "u0_u1_u1_refTimer_r_0" 
BEL "u0_u1_u1_refTimer_r_1" BEL "u0_u1_u1_refTimer_r_2" BEL 
"u0_u1_u1_refTimer_r_3" BEL "u0_u1_u1_refTimer_r_4" BEL "u0_u1_u1_refTimer_r_5" 
BEL "u0_u1_u1_state_r_FFd8" BEL "u0_u1_u1_state_r_FFd1" BEL 
"u0_u1_u1_state_r_FFd2" BEL "u0_u1_u1_state_r_FFd3" BEL "u0_u1_u1_state_r_FFd4" 
BEL "u0_u1_u1_state_r_FFd5" BEL "u0_u1_u1_state_r_FFd6" BEL "u0_rst_i_1" BEL 
"u0_rst_i_2" BEL "u0_rst_i_3" BEL "u0_rst_i_4" BEL "u0_rst_i_5" BEL "u0_rst_i_6"
 BEL "u0_rst_i_7" BEL "u0_u1_u1_rdPipeline_r_1_1" BEL 
"u0_fast_memtest_addr_r_23_1" BEL "u0_fast_memtest_addr_r_23_2" BEL 
"u0_fast_memtest_addr_r_22_1" BEL "u0_fast_memtest_state_r_FFd3_1" BEL 
"u0_fast_memtest_state_r_FFd4_1" BEL "u0_u1_u1_state_r_FFd4_1" BEL "sclk" ;
TS_clk = PERIOD TIMEGRP "clk"  10 nS   HIGH 50.000000 % ;
SCHEMATIC END ;
