net load loc=p27;
net clk loc=p20;
net din<0> loc=p31;
net din<1> loc=p23;
net din<2> loc=p22;
net din<3> loc=p19;
net dout<0> loc=p24;
net dout<1> loc=p25;
net dout<2> loc=p15;
net dout<3> loc=p33;
