net +1.2v	loc=D4,D13,E5,E12,M5,M12,N4,N13;
net +2.5v	loc=C4,T2,P4,A6,A11,F1,F16,L1,L16,T6,T11;
net +3.3v	loc=E8,F7,F8,E9,F9,F10,G11,H11,H12,J11,J12,K11,L9,L10,M9,L7,L8,M8,J5,J6,K6,G6,H5,H6;
net clka	loc=T9;
net clkb	loc=P8;
net clkc	loc=R9;
net flash_a<0>	loc=N5;
net flash_a<1>	loc=K14;
net flash_a<2>	loc=K13;
net flash_a<3>	loc=K12;
net flash_a<4>	loc=L14;
net flash_a<5>	loc=M16;
net flash_a<6>	loc=L13;
net flash_a<7>	loc=N16;
net flash_a<8>	loc=N14;
net flash_a<9>	loc=P15;
net flash_a<10>	loc=R16;
net flash_a<11>	loc=P14;
net flash_a<12>	loc=P13;
net flash_a<13>	loc=N12;
net flash_a<14>	loc=T14;
net flash_a<15>	loc=R13;
net flash_a<16>	loc=N10;
net flash_a<17>	loc=M14;
net flash_a<18>	loc=K3;
net flash_a<19>	loc=K4;
net flash_byte_n	loc=T8;
net flash_ce_n	loc=R4;
net flash_d<8>	loc=T4;
net flash_d<9>	loc=R5;
net flash_d<10>	loc=T5;
net flash_d<11>	loc=P6;
net flash_d<12>	loc=M7;
net flash_d<13>	loc=R6;
net flash_d<14>	loc=N7;
net flash_d<15>	loc=P7;
net flash_oe_n	loc=P5;
net flash_rdy	loc=L12;
net flash_reset_n	loc=P16;
net flash_we_n	loc=M13;
net fpga_cclk_2.<5>	loc=T15;
net fpga_d<1>	loc=N11;
net fpga_d<2>	loc=P10;
net fpga_d<3>	loc=R10;
net fpga_d<4>	loc=T7;
net fpga_d<5>	loc=R7;
net fpga_d<6>	loc=N6;
net fpga_d<7>	loc=M6;
net fpga_din_d<0>	loc=M11;
net fpga_done	loc=R14;
net fpga_init_n	loc=N9;
net fpga_program#_2.<5>	loc=B3;
net fpga_tck_2.<5>	loc=C14;
net fpga_tdi	loc=A2;
net fpga_tdi_cs_n	loc=R3;
net fpga_tdo	loc=A15;
net fpga_tdo_wr_n	loc=T3;
net fpga_tms	loc=C13;
net fpga_tms_bsy	loc=P9;
net gnd	loc=P3,A1,A16,B2,B9,B15,F6,F11,G7,G8,G9,G10,H2,H7,H8,H9,H10,J7,J8,J9,J10,J15,K7,K8,K9,K10,L6,L11,R2,R8,R15,T1,T16;
net pp_c<0>	loc=R11;
net pp_s<6>	loc=T10;
net proto<1>	loc=H16;
net proto<3>	loc=H15;
net proto<4>	loc=H14;
net proto<5>	loc=H13;
net proto<6>	loc=G16;
net proto<7>	loc=G15;
net proto<8>	loc=G14;
net proto<9>	loc=G13;
net proto<10>	loc=F15;
net proto<12>	loc=G12;
net proto<13>	loc=F14;
net proto<14>	loc=E16;
net proto<18>	loc=E15;
net proto<19>	loc=D16;
net proto<20>	loc=E14;
net proto<21>	loc=D15;
net proto<23>	loc=F5;
net proto<24>	loc=D2;
net proto<25>	loc=D1;
net proto<26>	loc=F4;
net proto<27>	loc=E2;
net proto<28>	loc=E1;
net proto<29>	loc=F3;
net proto<31>	loc=G5;
net proto<32>	loc=F2;
net proto<33>	loc=G4;
net proto<34>	loc=G3;
net proto<35>	loc=G2;
net proto<36>	loc=G1;
net proto<37>	loc=H4;
net proto<38>	loc=H3;
net proto<39>	loc=H1;
net proto<40>	loc=J1;
net proto<41>	loc=J2;
net proto<42>	loc=J3;
net proto<43>	loc=K1;
net proto<44>	loc=L2;
net proto<45>	loc=K5;
net proto<46>	loc=L3;
net proto<47>	loc=M1;
net proto<48>	loc=M2;
net proto<49>	loc=L4;
net proto<50>	loc=N1;
net proto<51>	loc=M3;
net proto<56>	loc=N2;
net proto<57>	loc=L5;
net proto<58>	loc=P1;
net proto<59>	loc=M4;
net proto<60>	loc=N3;
net proto<61>	loc=P2;
net proto<62>	loc=R1;
net proto<66>	loc=M10;
net proto<67>	loc=P11;
net proto<68>	loc=T12;
net proto<69>	loc=R12;
net proto<70>	loc=T13;
net proto<71>	loc=P12;
net proto<77>	loc=N15;
net proto<78>	loc=M15;
net proto<79>	loc=L15;
net proto<80>	loc=K15;
net proto<81>	loc=K16;
net proto<82>	loc=J13;
net proto<83>	loc=J14;
net proto<84>	loc=J16;
net ps2_clk	loc=B16;
net ps2_data	loc=E13;
net sdram_a<0>	loc=B5;
net sdram_a<1>	loc=A4;
net sdram_a<2>	loc=B4;
net sdram_a<3>	loc=E6;
net sdram_a<4>	loc=E3;
net sdram_a<5>	loc=C1;
net sdram_a<6>	loc=E4;
net sdram_a<7>	loc=D3;
net sdram_a<8>	loc=C2;
net sdram_a<9>	loc=A3;
net sdram_a<10>	loc=B6;
net sdram_a<11>	loc=C5;
net sdram_a<12>	loc=C6;
net sdram_ba<0>	loc=A7;
net sdram_ba<1>	loc=C7;
net sdram_cas_n	loc=A10;
net sdram_cke	loc=D7;
net sdram_clk	loc=N8,E10;
net sdram_cs_n	loc=B8;
net sdram_d<0>	loc=C15;
net sdram_d<1>	loc=D12;
net sdram_d<2>	loc=A14;
net sdram_d<3>	loc=B13;
net sdram_d<4>	loc=D11;
net sdram_d<5>	loc=A12;
net sdram_d<6>	loc=C11;
net sdram_d<7>	loc=D10;
net sdram_d<8>	loc=B11;
net sdram_d<9>	loc=B12;
net sdram_d<10>	loc=C12;
net sdram_d<11>	loc=B14;
net sdram_d<12>	loc=D14;
net sdram_d<13>	loc=C16;
net sdram_d<14>	loc=F12;
net sdram_d<15>	loc=F13;
net sdram_ldqm	loc=C10;
net sdram_ras_n	loc=A9;
net sdram_udqm	loc=D9;
net sdram_we_n	loc=B10;
net sw1_<3>	loc=K2;
net sw1_<4>	loc=J4;
net sw<2>	loc=E11;
net sw<3>	loc=A13;
net vga_blue<0>	loc=C9;
net vga_blue<1>	loc=E7;
net vga_blue<2>	loc=D5;
net vga_green<0>	loc=A8;
net vga_green<1>	loc=A5;
net vga_green<2>	loc=C3;
net vga_hsync_n	loc=B7;
net vga_red<0>	loc=C8;
net vga_red<1>	loc=D6;
net vga_red<2>	loc=B1;
net vga_vsync_n	loc=D8;
