#net adc_clk			loc=p3;
#net adc_oe_n			loc=p4;
#net i2c_sda			loc=p5;
#net i2c_scl			loc=p6;
#NET "vidout_vsync_n" LOC = "p7";
#net vidout_hsync_n		loc=p8;
#NET "vidout_gy<0>" LOC = "p9";
#NET "vidout_gy<1>" LOC = "p10";
#NET "vidout_gy<2>" LOC = "p11";
#NET "vidout_gy<3>" LOC = "p15";
#NET "vidout_gy<4>" LOC = "p16";
#NET "vidout_gy<5>" LOC = "p17";
#NET "vidout_gy<6>" LOC = "p18";
#NET "vidout_gy<7>" LOC = "p20";
#NET "vidout_gy<8>" LOC = "p21";
#net vidout_gy<9>		loc=p22;
#net vidout_clk			loc=p23;
#net vidout_blank_n		loc=p24;
#net vidout_rcr<9>		loc=p27;
#net vidout_rcr<8>		loc=p29;
#net vidout_rcr<7>		loc=p30;
#net vidout_rcr<6>		loc=p31;
#net vidout_rcr<5>		loc=p33;
#net vidout_rcr<4>		loc=p34;
#net vidout_rcr<3>		loc=p35;
#net vidout_rcr<2>		loc=p36;
#net vidout_rcr<1>		loc=p40;
#net vidout_rcr<0>		loc=p41;
#net vidout_bcb<0>		loc=p42;
#net vidout_bcb<1>		loc=p43;
#net vidout_bcb<2>		loc=p44;
#net vidout_bcb<3>		loc=p45;
#net vidout_bcb<4>		loc=p46;
#net vidout_bcb<5>		loc=p47;
#net vidout_bcb<6>		loc=p48;
#net vidout_bcb<7>		loc=p49;
#net vidout_bcb<8>		loc=p55;
#net vidout_bcb<9>		loc=p56;
#net "flash_ce_n" LOC = "p57";
#net pb_ecs0_n			loc=p58;
#net nv_cs0_n			loc=p59;
#net nv_cs1_n			loc=p60;
#net nv_intrq			loc=p61;
#net nv_iordy			loc=p62;
#net nv_iocs16			loc=p63;
#net nv_dmack_n			loc=p64;
#net nv_dmarq			loc=p68;
#net rs232_cts			loc=p69;
#net rs232_rts			loc=p70;
#net rs232_td			loc=p71;
#net rs232_rd			loc=p73;
#net ethernet_iocs16_n		loc=p74;
#net ethernet_ireq		loc=p75;
#net fpga_clk<1>			loc=p77;
NET "sdram_clk" LOC = "p80";
#net ethernet_rdy_dtack		loc=p81;
#net ethernet_cs_n		loc=p82;
NET "pb_a<0>" LOC = "p83";
NET "pb_a<1>" LOC = "p84";
NET "pb_a<2>" LOC = "p86";
NET "pb_a<3>" LOC = "p87";
NET "pb_a<4>" LOC = "p88";
NET "pb_a<5>" LOC = "p89";
NET "pb_a<6>" LOC = "p93";
NET "pb_a<7>" LOC = "p94";
NET "sdram_we_n" LOC = "p95";
NET "sdram_cas_n" LOC = "p96";
NET "sdram_ras_n" LOC = "p97";
NET "sdram_ce_n" LOC = "p98";
NET "sdram_cke" LOC = "p99";
NET "pb_a<8>" LOC = "p100";
NET "pb_a<9>" LOC = "p101";
NET "pb_a<10>" LOC = "p102";
NET "fpga_init_n" LOC = "p107";
NET "pb_d<7>" LOC = "p108";
NET "pb_a<11>" LOC = "p109";
NET "pb_a<12>" LOC="p110";
NET "pb_a<13>" LOC = "p111";
NET "pb_a<14>" LOC = "p112";
#net pb_a<15>			loc=p113;
#net pb_a<16>			loc=p114;
#net pb_a<17>			loc=p115;
NET "pb_d<6>" LOC = "p116";
NET "pb_d<5>" LOC = "p120";
#net pb_a<18>			loc=p121;
net pb_a<19>			loc=p122;
#net pb_we_n			loc=p123;
#net pb_oe_n			loc=p125;
NET "pb_d<4>" LOC = "p126";
NET "pb_d<8>" LOC = "p127";
NET "pb_d<9>" LOC = "p129";
NET "pb_d<10>" LOC = "p132";
NET "pb_d<11>" LOC = "p133";
NET "pb_d<12>" LOC = "p134";
NET "pb_d<3>" LOC = "p135";
NET "pb_d<13>" LOC = "p136";
NET "pb_d<14>" LOC = "p138";
NET "pb_d<15>" LOC = "p139";
NET "pb_lb_n" LOC = "p140";
NET "pb_d<2>" LOC = "p141";
NET "pb_d<1>" LOC = "p145";
NET "pb_ub_n" LOC = "p146";
#net ram_ce_n			loc=p147;
#net usb_cs_n			loc=p148;
#net usb_int_n			loc=p149;
#net usb_ready			loc=p150;
#net usb_flagc			loc=p151;
#net usb_flagb			loc=p152;
NET "pb_d<0>" LOC = "p153";
#net fpga_bsy			loc=p154;
#net fpga_cs_n			loc=p160;
#net fpga_write_n		loc=p161;
#net usb_flaga			loc=p162;
#net usb_ifclk			loc=p163;
#net usb_vsb			loc=p164;
#net au_csn_n			loc=p165;
#net au_bclk			loc=p166;
#net au_mclk			loc=p167;
#net au_lrck			loc=p168;
#net au_sdti			loc=p169;
#net au_sdto<0>			loc=p173;
#net vidin_hpd<0>		loc=p174;
#net vidin_hpd<1>		loc=p175;
#net vidin_hpd<2>		loc=p176;
#net vidin_hpd<3>		loc=p178;
#net vidin_hpd<4>		loc=p179;
#net vidin_hpd<5>		loc=p180;
#net vidin_hpd<6>		loc=p181;
#net fpga_clk<0>			loc=p182;
#net vidin_clk			loc=p185;
#net vidin_hpd<7>		loc=p187;
#net vidin_ipd<0>		loc=p188;
#net vidin_ipd<1>		loc=p189;
#net vidin_ipd<2>		loc=p191;
#net vidin_ipd<3>		loc=p192;
#net vidin_ipd<4>		loc=p193;
#net vidin_ipd<5>		loc=p194;
#net vidin_ipd<6>		loc=p198;
#net vidin_ipd<7>		loc=p199;
#net vidin_igph			loc=p200;
#net vidin_igpv			loc=p201;
#net vidin_igp<1>		loc=p202;
#net vidin_igp<0>		loc=p203;
#net vidin_itri			loc=p204;
#net vidin_idq			loc=p205;
#net vidin_itrdy			loc=p206;
NET "sdram_clk" TNM_NET = "sdram_clk";
TIMESPEC "TS_sdram_clk" = PERIOD "sdram_clk" 10 ns HIGH 50 %;
NET "pb_a<10>" DRIVE = 24;
NET "pb_a<0>" DRIVE = 24;
NET "pb_a<1>" DRIVE = 24;
NET "pb_a<2>" DRIVE = 24;
NET "pb_a<3>" DRIVE = 24;
NET "pb_a<4>" DRIVE = 24;
NET "pb_a<5>" DRIVE = 24;
NET "pb_a<6>" DRIVE = 24;
NET "pb_a<7>" DRIVE = 24;
NET "pb_a<8>" DRIVE = 24;
NET "pb_a<9>" DRIVE = 24;
NET "pb_a<11>" DRIVE = 24;
NET "pb_a<13>" DRIVE = 24;
NET "pb_a<14>" DRIVE = 24;
NET "pb_d<0>" DRIVE = 24;
NET "pb_d<1>" DRIVE = 24;
NET "pb_d<2>" DRIVE = 24;
NET "pb_d<3>" DRIVE = 24;
NET "pb_d<4>" DRIVE = 24;
NET "pb_d<5>" DRIVE = 24;
NET "pb_d<6>" DRIVE = 24;
NET "pb_d<7>" DRIVE = 24;
NET "pb_d<8>" DRIVE = 24;
NET "pb_d<9>" DRIVE = 24;
NET "pb_d<10>" DRIVE = 24;
NET "pb_d<11>" DRIVE = 24;
NET "pb_d<12>" DRIVE = 24;
NET "pb_d<13>" DRIVE = 24;
NET "pb_d<14>" DRIVE = 24;
NET "pb_d<15>" DRIVE = 24;
NET "pb_lb_n" DRIVE = 24;
NET "pb_ub_n" DRIVE = 24;
NET "sdram_cas_n" DRIVE = 24;
NET "sdram_ce_n" DRIVE = 24;
NET "sdram_cke" DRIVE = 24;
NET "sdram_ras_n" DRIVE = 24;
NET "sdram_we_n" DRIVE = 24;
NET "pb_a<0>" FAST;
NET "pb_a<1>" FAST;
NET "pb_a<2>" FAST;
NET "pb_a<3>" FAST;
NET "pb_a<4>" FAST;
NET "pb_a<5>" FAST;
NET "pb_a<6>" FAST;
NET "pb_a<7>" FAST;
NET "pb_a<8>" FAST;
NET "pb_a<9>" FAST;
NET "pb_a<10>" FAST;
NET "pb_a<11>" FAST;
NET "pb_a<13>" FAST;
NET "pb_a<14>" FAST;
NET "pb_d<0>" FAST;
NET "pb_d<1>" FAST;
NET "pb_d<2>" FAST;
NET "pb_d<3>" FAST;
NET "pb_d<4>" FAST;
NET "pb_d<5>" FAST;
NET "pb_d<6>" FAST;
NET "pb_d<7>" FAST;
NET "pb_d<8>" FAST;
NET "pb_d<9>" FAST;
NET "pb_d<10>" FAST;
NET "pb_d<11>" FAST;
NET "pb_d<12>" FAST;
NET "pb_d<13>" FAST;
NET "pb_d<14>" FAST;
NET "pb_d<15>" FAST;
NET "pb_lb_n" FAST;
NET "pb_ub_n" FAST;
NET "sdram_cas_n" FAST;
NET "sdram_ce_n" FAST;
NET "sdram_cke" FAST;
NET "sdram_ras_n" FAST;
NET "sdram_we_n" FAST;
