#net adc_clk			loc=p3;
#net adc_oe_n			loc=p4;
#net i2c_sda			loc=p5;
#net i2c_scl			loc=p6;
#net vidout_vsync_n		loc=p7;
#net vidout_hsync_n		loc=p8;
#net vidout_gy<0>		loc=p9;
#net vidout_gy<1>		loc=p10;
#net vidout_gy<2>		loc=p11;
#net vidout_gy<3>		loc=p15;
#net vidout_gy<4>		loc=p16;
#net vidout_gy<5>		loc=p17;
#net vidout_gy<6>		loc=p18;
#net vidout_gy<7>		loc=p20;
#net vidout_gy<8>		loc=p21;
#net vidout_gy<9>		loc=p22;
#net vidout_clk			loc=p23;
#net vidout_blank_n		loc=p24;
#net vidout_rcr<9>		loc=p27;
#net vidout_rcr<8>		loc=p29;
#net vidout_rcr<7>		loc=p30;
#net vidout_rcr<6>		loc=p31;
#net vidout_rcr<5>		loc=p33;
#net vidout_rcr<4>		loc=p34;
#net vidout_rcr<3>		loc=p35;
#net vidout_rcr<2>		loc=p36;
#net vidout_rcr<1>		loc=p40;
#net vidout_rcr<0>		loc=p41;
#net vidout_bcb<0>		loc=p42;
#net vidout_bcb<1>		loc=p43;
#net vidout_bcb<2>		loc=p44;
#net vidout_bcb<3>		loc=p45;
#net vidout_bcb<4>		loc=p46;
#net vidout_bcb<5>		loc=p47;
#net vidout_bcb<6>		loc=p48;
#net vidout_bcb<7>		loc=p49;
#net vidout_bcb<8>		loc=p55;
#net vidout_bcb<9>		loc=p56;
#net flash_ce_n			loc=p57;
#net pb_ecs0_n			loc=p58;
#net nv_cs0_n			loc=p59;
#net nv_cs1_n			loc=p60;
#net nv_intrq			loc=p61;
#net nv_iordy			loc=p62;
#net nv_iocs16			loc=p63;
#net nv_dmack_n			loc=p64;
#net nv_dmarq			loc=p68;
#net rs232_cts			loc=p69;
#net rs232_rts			loc=p70;
#net rs232_td			loc=p71;
#net rs232_rd			loc=p73;
#net ethernet_iocs16_n		loc=p74;
#net ethernet_ireq		loc=p75;
#net fpga_clk<1>			loc=p77;
#net sdram_clk			loc=p80;
#net ethernet_rdy_dtack		loc=p81;
#net ethernet_cs_n		loc=p82;
net pb_a<0>			loc=p83;
net pb_a<1>			loc=p84;
net pb_a<2>			loc=p86;
#net pb_a<3>			loc=p87;
#net pb_a<4>			loc=p88;
#net pb_a<5>			loc=p89;
#net pb_a<6>			loc=p93;
#net pb_a<7>			loc=p94;
#net sdram_we_n			loc=p95;
#net sdram_cas_n			loc=p96;
#net sdram_ras_n			loc=p97;
#net sdram_ce_n			loc=p98;
#net sdram_cke			loc=p99;
#net pb_a<8>			loc=p100;
#net pb_a<9>			loc=p101;
#net pb_a<10>			loc=p102;
net fpga_init_n			loc=p107;
#net pb_d<7>			loc=p108;
#net pb_a<11>			loc=p109;
#net pb_a<12>			loc=p110;
#net pb_a<13>			loc=p111;
#net pb_a<14>			loc=p112;
#net pb_a<15>			loc=p113;
#net pb_a<16>			loc=p114;
#net pb_a<17>			loc=p115;
#net pb_d<6>			loc=p116;
#net pb_d<5>			loc=p120;
#net pb_a<18>			loc=p121;
#net pb_a<19>			loc=p122;
#net pb_we_n			loc=p123;
#net pb_oe_n			loc=p125;
#net pb_d<4>			loc=p126;
#net pb_d<8>			loc=p127;
#net pb_d<9>			loc=p129;
#net pb_d<10>			loc=p132;
#net pb_d<11>			loc=p133;
#net pb_d<12>			loc=p134;
net pb_d<3>			loc=p135;
#net pb_d<13>			loc=p136;
#net pb_d<14>			loc=p138;
#net pb_d<15>			loc=p139;
#net pb_lb_n			loc=p140;
#net pb_d<2>			loc=p141;
#net pb_d<1>			loc=p145;
#net pb_ub_n			loc=p146;
#net ram_ce_n			loc=p147;
#net usb_cs_n			loc=p148;
#net usb_int_n			loc=p149;
#net usb_ready			loc=p150;
#net usb_flagc			loc=p151;
#net usb_flagb			loc=p152;
#net pb_d<0>			loc=p153;
#net fpga_bsy			loc=p154;
#net fpga_cs_n			loc=p160;
#net fpga_write_n		loc=p161;
#net usb_flaga			loc=p162;
#net usb_ifclk			loc=p163;
#net usb_vsb			loc=p164;
net au_csn_n			loc=p165;
net au_bclk			loc=p166;
net au_mclk			loc=p167;
net au_lrck			loc=p168;
net au_sdti			loc=p169;
net au_sdto			loc=p173;
#net vidin_hpd<0>		loc=p174;
#net vidin_hpd<1>		loc=p175;
#net vidin_hpd<2>		loc=p176;
#net vidin_hpd<3>		loc=p178;
#net vidin_hpd<4>		loc=p179;
#net vidin_hpd<5>		loc=p180;
#net vidin_hpd<6>		loc=p181;
net fpga_clk<0>			loc=p182;
#net vidin_clk			loc=p185;
#net vidin_hpd<7>		loc=p187;
#net vidin_ipd<0>		loc=p188;
#net vidin_ipd<1>		loc=p189;
#net vidin_ipd<2>		loc=p191;
#net vidin_ipd<3>		loc=p192;
#net vidin_ipd<4>		loc=p193;
#net vidin_ipd<5>		loc=p194;
#net vidin_ipd<6>		loc=p198;
#net vidin_ipd<7>		loc=p199;
#net vidin_igph			loc=p200;
#net vidin_igpv			loc=p201;
#net vidin_igp<1>		loc=p202;
#net vidin_igp<0>		loc=p203;
#net vidin_itri			loc=p204;
#net vidin_idq			loc=p205;
#net vidin_itrdy			loc=p206;
