SCHEMATIC START ;
// created by map version G.38 on Tue Aug 17 14:09:19 2010 
COMP "reset_n" LOCATE =  SITE "H4" LEVEL 1; 
COMP "lrck" LOCATE =  SITE "R12" LEVEL 1; 
COMP "ethernet_cs_n" LOCATE =  SITE "G13" LEVEL 1; 
COMP "clk" LOCATE =  SITE "P8" LEVEL 1; 
COMP "ADC_rdy_diag" LOCATE =  SITE "E2" LEVEL 1; 
COMP "sclk" LOCATE =  SITE "T12" LEVEL 1; 
COMP "sdti" LOCATE =  SITE "M10" LEVEL 1; 
COMP "sdto" LOCATE =  SITE "K5" LEVEL 1; 
COMP "DAC_rdy_diag" LOCATE =  SITE "E1" LEVEL 1; 
COMP "mclk" LOCATE =  SITE "P11" LEVEL 1; 
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
SCHEMATIC END ;
