# xsa-200 SDRAM interface

NET      "clkin"     TNM_NET  =      "clkin"; 
TIMESPEC "TS_clkin"  =        PERIOD "clkin"  10 ns HIGH 50 %; 

net ce_n      loc=M15;  
net clkin     loc=R8;  
net clkfb     loc=N8;  
net clkout    loc=J4; 
net cke       loc=L1;  
net cs_n      loc=J3;  
net ras_n     loc=J2;  
net cas_n     loc=H3; 
net we_n      loc=G1; 
net ba<0>     loc=K2;  
net ba<1>     loc=L2;  
net sAddr<0>  loc=L4;  
net sAddr<1>  loc=N1;  
net sAddr<2>  loc=N2;  
net sAddr<3>  loc=M4;  
net sAddr<4>  loc=T5;  
net sAddr<5>  loc=N6;  
net sAddr<6>  loc=M6;  
net sAddr<7>  loc=T3;  
net sAddr<8>  loc=N5;  
net sAddr<9>  loc=P1;  
net sAddr<10> loc=L3;  
net sAddr<11> loc=M3;  
net sAddr<12> loc=M2;  
net sData<0>  loc=C2; 
net sData<1>  loc=C1; 
net sData<2>  loc=F5; 
net sData<3>  loc=D1; 
net sData<4>  loc=F3; 
net sData<5>  loc=F2; 
net sData<6>  loc=F1; 
net sData<7>  loc=G3; 
net sData<8>  loc=G4; 
net sData<9>  loc=G5; 
net sData<10> loc=E2; 
net sData<11> loc=E4; 
net sData<12> loc=B1; 
net sData<13> loc=A2; 
net sData<14> loc=D5; 
net sData<15> loc=C5; 
net dqmh      loc=H1;  
net dqml      loc=G2; 
net led_dp    loc=E16;
net s<0>      loc=N14;  
net s<1>      loc=D14; 
net s<2>      loc=N16;  
net s<3>      loc=M16;  
net s<4>      loc=F15; 
net s<5>      loc=J16;  
net s<6>      loc=G16; 
