#
# Pin assignments for the XSA-3S1000 Board.
#

net a<3>       loc=P12; # DIP switch 1
net a<2>       loc=J1;  # DIP switch 2
net a<1>       loc=H1;  # DIP switch 3
net a<0>       loc=H3;  # DIP switch 4
net b<3>       loc=G2;  # DIP switch 5
net b<2>       loc=K15; # DIP switch 6
net b<1>       loc=K16; # DIP switch 7
net b<0>       loc=F15; # DIP switch 8
net msdigit<0> loc=H14; # LED 1 - segment A
net msdigit<1> loc=M4;  # LED 1 - segment B
net msdigit<2> loc=P1;  # LED 1 - segment C
net msdigit<3> loc=N3;  # LED 1 - segment D
net msdigit<4> loc=M15; # LED 1 - segment E
net msdigit<5> loc=H13; # LED 1 - segment F
net msdigit<6> loc=G16; # LED 1 - segment G
net lsdigit<0> loc=E2;  # LED 2 - segment A
net lsdigit<1> loc=E1;  # LED 2 - segment B
net lsdigit<2> loc=F3;  # LED 2 - segment C
net lsdigit<3> loc=F2;  # LED 2 - segment D
net lsdigit<4> loc=G4;  # LED 2 - segment E
net lsdigit<5> loc=G3;  # LED 2 - segment F
net lsdigit<6> loc=G1;  # LED 2 - segment G
net op<0>      loc=H4;  # pushbutton PB1
net ether_cs_n loc=G13; # chip-enable for Ethernet chip