net clk loc=T9;
net scl loc=F5;
net sda loc=D2;
#net scl_i loc=J16;
#net scl_o loc=H16;
#net scl_oe loc=H15;
#net sda_i loc=H14;
#net sda_o loc=H13;
#net sda_oe loc=G16;
#net      led_dp      loc=N11; 
net      led<0>      loc=M6;  
net      led<1>      loc=M11; 
net      led<2>      loc=N6;  
net      led<3>      loc=R7;  
net      led<4>      loc=P10; 
net      led<5>      loc=T7;  
net      led<6>      loc=R10;
net      ce_n        loc=R4;
