# Flash pin assignments for the FPGA on the xsa-50 Board
#

net clkin        loc = p88; 
net f_addr<0>    loc = p40; 
net f_addr<1>    loc = p29; 
net f_addr<2>    loc = p28; 
net f_addr<3>    loc = p27; 
net f_addr<4>    loc = p74; 
net f_addr<5>    loc = p75; 
net f_addr<6>    loc = p76; 
net f_addr<7>    loc = p66; 
net f_addr<8>    loc = p50; 
net f_addr<9>    loc = p48; 
net f_addr<10>   loc = p42; 
net f_addr<11>   loc = p47; 
net f_addr<12>   loc = p65; 
net f_addr<13>   loc = p51; 
net f_addr<14>   loc = p54; 
net f_addr<15>   loc = p64; 
net f_addr<16>   loc = p63; 
net f_addr<17>   loc = p56; 
net f_data<0>    loc = p39; 
net f_data<1>    loc = p44; 
net f_data<2>    loc = p46; 
net f_data<3>    loc = p49; 
net f_data<4>    loc = p57; 
net f_data<5>    loc = p60; 
net f_data<6>    loc = p62; 
net f_data<7>    loc = p67; 
net f_reset_n    loc = p59; 
net f_ce_n       loc = p41; 
net f_oe_n       loc = p43; 
net f_we_n       loc = p58;
