SCHEMATIC START ;
// created by map version G.38 on Mon Jun 20 16:52:28 2005 
COMP "pb_d<4>" LOCATE =  SITE "P126" LEVEL 1; 
COMP "sdram_cke" LOCATE =  SITE "P99" LEVEL 1; 
COMP "pb_d<5>" LOCATE =  SITE "P120" LEVEL 1; 
COMP "pb_d<6>" LOCATE =  SITE "P116" LEVEL 1; 
COMP "pb_d<7>" LOCATE =  SITE "P108" LEVEL 1; 
COMP "pb_d<8>" LOCATE =  SITE "P127" LEVEL 1; 
COMP "sdram_clk" LOCATE =  SITE "P80" LEVEL 1; 
COMP "pb_d<9>" LOCATE =  SITE "P129" LEVEL 1; 
COMP "pb_ub_n" LOCATE =  SITE "P146" LEVEL 1; 
COMP "sdram_ras_n" LOCATE =  SITE "P97" LEVEL 1; 
COMP "pb_d<10>" LOCATE =  SITE "P132" LEVEL 1; 
COMP "pb_d<11>" LOCATE =  SITE "P133" LEVEL 1; 
COMP "pb_d<12>" LOCATE =  SITE "P134" LEVEL 1; 
COMP "pb_d<13>" LOCATE =  SITE "P136" LEVEL 1; 
COMP "pb_d<14>" LOCATE =  SITE "P138" LEVEL 1; 
COMP "pb_d<15>" LOCATE =  SITE "P139" LEVEL 1; 
COMP "sdram_we_n" LOCATE =  SITE "P95" LEVEL 1; 
COMP "pb_lb_n" LOCATE =  SITE "P140" LEVEL 1; 
COMP "fpga_init_n" LOCATE =  SITE "P107" LEVEL 1; 
COMP "pb_a<0>" LOCATE =  SITE "P83" LEVEL 1; 
COMP "pb_a<1>" LOCATE =  SITE "P84" LEVEL 1; 
COMP "pb_a<2>" LOCATE =  SITE "P86" LEVEL 1; 
COMP "pb_a<3>" LOCATE =  SITE "P87" LEVEL 1; 
COMP "pb_a<10>" LOCATE =  SITE "P102" LEVEL 1; 
COMP "pb_a<4>" LOCATE =  SITE "P88" LEVEL 1; 
COMP "sdram_ce_n" LOCATE =  SITE "P98" LEVEL 1; 
COMP "pb_a<11>" LOCATE =  SITE "P109" LEVEL 1; 
COMP "pb_a<5>" LOCATE =  SITE "P89" LEVEL 1; 
COMP "pb_a<12>" LOCATE =  SITE "P110" LEVEL 1; 
COMP "pb_a<6>" LOCATE =  SITE "P93" LEVEL 1; 
COMP "sdram_cas_n" LOCATE =  SITE "P96" LEVEL 1; 
COMP "pb_a<13>" LOCATE =  SITE "P111" LEVEL 1; 
COMP "pb_a<7>" LOCATE =  SITE "P94" LEVEL 1; 
COMP "pb_a<14>" LOCATE =  SITE "P112" LEVEL 1; 
COMP "pb_a<8>" LOCATE =  SITE "P100" LEVEL 1; 
COMP "pb_a<9>" LOCATE =  SITE "P101" LEVEL 1; 
COMP "pb_d<0>" LOCATE =  SITE "P153" LEVEL 1; 
COMP "pb_d<1>" LOCATE =  SITE "P145" LEVEL 1; 
COMP "pb_d<2>" LOCATE =  SITE "P141" LEVEL 1; 
COMP "pb_d<3>" LOCATE =  SITE "P135" LEVEL 1; 
SCHEMATIC END ;
