#
# Pin assignments for the XSA-3S1000 Board.
#

net barled<1>     loc=L5;  # barled 1
net barled<2>     loc=N2;  # barled 2
net barled<3>     loc=M3;  # barled 3
net barled<4>     loc=N1;  # barled 4
net barled<5>     loc=T13; # barled 5
net barled<6>     loc=L15; # barled 6
net barled<7>     loc=J13; # barled 7
net barled<8>     loc=H15; # barled 8

net reset_n       loc=H4;  # pushbutton PB1

net td            loc=J2;  # RS232 TD pin 3
net rd            loc=G5;  # RS232 RD pin 2

net clk           loc=P8;  # 50 MHz clock input  

net ethernet_cs_n loc=G13; # Ethernet chip-enable 
