# SDRAM memory tester pin assignments
net ce_n      loc=R4;  # Flash RAM chip-enable
net clkin     loc=T9;  # main clock
net clkfb     loc=N8;  # feedback SDRAM clock after PCB delays
net clkout    loc=E10; # clock to SDRAM
net cke       loc=D7;  # SDRAM clock enable
net cs_n      loc=B8;  # SDRAM chip-select
net ras_n     loc=A9;  
net cas_n     loc=A10; 
net we_n      loc=B10; 
net dqmh      loc=D9;  
net dqml      loc=C10; 
net data<0>   loc=C15; 
net data<1>   loc=D12; 
net data<2>   loc=A14; 
net data<3>   loc=B13; 
net data<4>   loc=D11; 
net data<5>   loc=A12; 
net data<6>   loc=C11; 
net data<7>   loc=D10; 
net data<8>   loc=B11; 
net data<9>   loc=B12; 
net data<10>  loc=C12; 
net data<11>  loc=B14; 
net data<12>  loc=D14; 
net data<13>  loc=C16; 
net data<14>  loc=F12; 
net data<15>  loc=F13; 
net sAddr<0>  loc=B5;  
net sAddr<1>  loc=A4;  
net sAddr<2>  loc=B4;  
net sAddr<3>  loc=E6;  
net sAddr<4>  loc=E3;  
net sAddr<5>  loc=C1;  
net sAddr<6>  loc=E4;  
net sAddr<7>  loc=D3;  
net sAddr<8>  loc=C2;  
net sAddr<9>  loc=A3;  
net sAddr<10> loc=B6;  
net sAddr<11> loc=C5;  
net sAddr<12> loc=C6;  
net ba<0>     loc=A7;  
net ba<1>     loc=C7;  
net s<0>      loc=M6;  
net s<1>      loc=M11; 
net s<2>      loc=N6;  
net s<3>      loc=R7;  
net s<4>      loc=P10; 
net s<5>      loc=T7;  
net s<6>      loc=R10; 
net ppd<0>    loc=N14; 
net ppd<1>    loc=P15; 
net ppd<2>    loc=R16; 
net ppd<3>    loc=P14; 
net ppd<4>    loc=P13; 
net ppd<5>    loc=N12; 
# net ppd<6> loc=T14;
# net ppd<7> loc=R13;
net pps<3>    loc=N5;  
net pps<4>    loc=K14; 
net pps<5>    loc=K13; 
net pps<6>    loc=T10; 

